.App {
  text-align: center;
}
.h1class {
    color:yellow;
    font-size: 40px;
}

@media (max-width: 991.98px) { 
  .h1class {
    color: purple
  }

} 

@media (max-width: 767.98px) { 
  .h1class {
    color:pink
  }
 }  
@media (max-width: 575.98px) { 
  .h1class {
    color:red
  }
 }






